<h1>Editing Book</h1>

<%= form_with model:@books,local:true do |f| %> 
<p>Titel</p>
<%= f.text_field :title  %>

<p>body</p>
<%= f.text_area :body %>

<%= f.submit "Update Book" %>

<% end %>

<%= link_to "Show",books_path(@book) %>
<%= link_to "Back",books_path %>
<%= link_to "destroy",book_path,method: :delete %>